html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  list-style: none;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  padding: 0;
}

nav{
  display: flex;
  justify-content: space-between;
}

.nav-brand{
  margin: 0 8%;
}

.nav-brand img{
  border: none;
  border-radius: 90px;
  margin: 20px 0;
  width: 20%;
  height: auto;
}

a{
  color: #cc7f09;
}

a:hover{
  text-decoration: none;
}

h1{
  font-size: 2em;
  font-weight: 600;
  margin: 26.56px auto;
  color: #ddd;
  text-align: center;
  font-family: "Alice", "Roboto Slab", "Source Serif Pro", serif;
}

.bold{
  font-weight: bold;
}

#projects h1, #contact h1{
  color: rgb(0,0,0, .9);
}

h3{
  color: #cc7f09;
  font-size: 1.1em;
  font-family: "Montserrat",  sans-serif;
  font-weight: 600;
  margin: 20px auto;
}

p{
  color: #ddd;
  font-size: .95em;
  font-weight: 400;
  font-family: "Montserrat",  sans-serif;
  line-height: 25px;
}

hr{
  width: 90%;
  border-color: #cc7f09;
  margin: 0 auto;
}

.rightnav{
  margin: 0 8%;
}

nav ul{
  margin: 30px 0;
}

nav li{
  display: inline-block;
}

nav li a{
  display: inline-block;
  padding: 10px 0 5px;
  margin: 0 20px;
  font-family: sans-serif;
  font-size: 1.2em;
}

nav li a:hover{
  color: #ddd;
  border-bottom: 2px solid #ddd;
}

nav button{
  margin: 0 10px;
  padding: 8px 12px;
  border: 2px solid #d38525;
  color: #d38525;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
}

nav button a:hover{
  color: #ddd;
}

nav button:hover{
  background-color: #d38525;
  color: #ddd;
}

nav input, nav label{
  display: none;
}

@media (max-width: 1100px) {
  nav{
    position: static;
    z-index: 10;
  }


  nav ul{
    padding: 60px 0;
    margin: 20px 70px;
  }

  nav label{
    display: inline;
    position: fixed;
    cursor: pointer;
    margin: 30px 0;
    right: 12%;
    z-index: 200;
    font-size: 2em;
    color:  #d38525;
  }

  nav label:hover{
    font-size: 2.2em;
    color: #ddd;
  }

  nav button:hover{
    background-color: rgb(0, 0, 0, .3);
    color: #ddd;
  }

  .rightnav{
    display: flex;
    background-color: rgb(255, 255, 255, 0.1);
    position: fixed;
    z-index: 20;
    width: 250px;
    right: -340px;
    top: 0;
    transition: .5s ease-in;
  }

  nav li{
    display: block;
  }

  nav button{
    display: block;
    margin: 20px auto 0;
    background: rgb(0, 0, 0, 0.1);
  }

  #checkbox:checked ~ .rightnav{
    transform: translateX(-250px);
    transition: .5s ease-in;
  }

  #checkbox:checked ~  nav label{
    position: fixed;
  }

  #checkbox:checked ~ .rightnav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: .8;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  display: none;
}

}

@media (max-width: 500px) {

  nav label{
    right: 70px;
  }

  nav label:hover{
    font-size: 2.2em;
  }

  .rightnav{
    right: -330px;
  }

}

/* HOME */

#home{
  text-align: center;
  margin: 100px auto;
  width: 80%;
}

#home img{
  width: 200px;
  margin: 20px 0;
  border: 3px solid #d38525;
  border-radius: 10px;
  float: left;
}

#home img:hover{
  transform: scale(1.2) rotate(-5deg);
}

#home p{
  width: 70%;
  margin-top: 130px;
  margin-bottom: 200px;
  margin-left: 250px;
  text-align: left;
}

/* ANIMATION */

#home h1{
  margin: 0
  padding: 0;
  transform: translateX(5);
  width: 100%;
  text-align: center;
  color: #ddd;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: 0.1em;
  background-image: url("smoke.mp4");
}

video{
  width: 80%;
  position: absolute;
  z-index: -1;
  top: -60px;
  left: 150px;
}

h1 span{
  display: inline-block;
  animation: animate 1s linear forwards;
}
@keyframes animate {
  0%{
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(5px);
  }
  100%{
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}

h1  span:nth-of-type(1){
  animation-delay: .2s;
}
h1 span:nth-of-type(2){
  animation-delay: .5s;
}
h1 span:nth-of-type(3){
  animation-delay: .8s;
}
h1 span:nth-of-type(4){
  animation-delay: 1.0s;
}
h1 span:nth-of-type(5){
  animation-delay: 1.2s;
}
h1 .first span:nth-of-type(1){
  animation-delay: 1.5s;
}
h1 .first span:nth-of-type(2){
  animation-delay: 2s;
}
h1 .first span:nth-child(3){
  animation-delay: 2.0s;
}
h1 .first span:nth-child(4){
  animation-delay: 2.4s;
}
h1 .first span:nth-child(5){
  animation-delay: 2.7s;
}
h1 .first span:nth-child(6){
  animation-delay: 3s;
}
h1 .first span:nth-child(7){
  animation-delay: 3.1s;
}
h1 .first span:nth-child(8){
  animation-delay: 3.2s;
}
h1 .first span:nth-child(9){
  animation-delay: 3.5s;
}
h1 .first span:nth-child(10){
  animation-delay: 3.8s;
}

.name{
  display: inline;
}

@media (max-width: 1200px) {

  video{
    top: -35px;
    left: 100px;
  }

}

@media (max-width: 1100px) {

  video{
    top: -20px;
    left: 100px;
  }

}

@media (max-width: 1000px) {

  #home{
    width: 90%;
  }

  #home p{
    margin-top: 18%;
  }

  video{
    width: 100%;
    top: -25px;
    left: 0;
  }

}

@media (max-width: 850px) {
  #home h1{
    width: 100%;
    font-size: 2.3em;
    letter-spacing: .05;
  }

  video{
    width: 100%;
    top: 15px;
  }

}

@media (max-width: 800px) {
  #home h1{
    transform: translateX(5);
    width: 100%;
    font-size: 2.3em;
    letter-spacing: 0;
  }

  video{
    width: 100%;
    top: 15px;
  }

}

@media (max-width: 700px) {

  #home{
    margin: 50px auto 120px;
  }

  #home img{
    float: none;
    margin: 30px 0;
  }

  #home p{
    width: 90%;
    margin: 10px auto;
    margin-top: 5px;
  }

  .name{
    display: block;
    line-height: .5em;
  }

  h1  span:nth-of-type(1){
    animation-delay: 1.5s;
  }
  h1 span:nth-of-type(2){
    animation-delay: 1.8s;
  }
  h1 span:nth-of-type(3){
    animation-delay: 2.1s;
  }
  h1 span:nth-of-type(4){
    animation-delay: 2.4s;
  }
  h1 span:nth-of-type(5){
    animation-delay: 2.7s;
  }
  h1 .first span:nth-of-type(1){
    animation-delay: 1s;
  }
  h1 .first span:nth-of-type(2){
    animation-delay: 1.2s;
  }
  h1 .first span:nth-child(3){
    animation-delay: 1.5s;
  }
  h1 .first span:nth-child(4){
    animation-delay: 1.8s;
  }
  h1 .first span:nth-child(5){
    animation-delay: 2.1s;
  }
  h1 .first span:nth-child(6){
    animation-delay: 2.4s;
  }
  h1 .first span:nth-child(7){
    animation-delay: 2.7s;
  }
  h1 .first span:nth-child(8){
    animation-delay: 3.2s;
  }
  h1 .first span:nth-child(9){
    animation-delay: 3.5s;
  }
  h1 .first span:nth-child(10){
    animation-delay: 3.8s;
  }

}

@media (max-width: 600px) {
  video{
    top: 40px;
    object-fit: fill;
  }
}

@media (max-width: 500px) {
  video{
    top: 50px;
  }
}

@media (max-width: 400px) {

  #home h1{
    transform: translateX(0);
    font-size: 2em;
    letter-spacing: 0em;
  }

  video{
    top: 80px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 400px) {
/* Styles */
  #home h1{
    transform: translateX(0);
    font-size: 2em;
    letter-spacing: 0em;
  }
}

/* ABOUT */

#about{
  text-align: center;
  padding: 50px auto;
  clear: left;
  margin: 100px auto;
}

.about{
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}

.about div{
  margin: 20px;
  padding: 2px;
  width: 500px;
}

#skills i, #about i{
  color: #cc7f09;
  font-size: 2.5em;
  margin: 20px 0;
}

@media (max-width: 1100px) {

  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
  }

  .about div{
    margin: 20px;
    width: 70%;
  }
}

@media (max-width: 500px) {

  .about{
    padding: 0;
  }

}

/* SKILLS */

#skills{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.skills{
  margin: 100px auto 80px;
}

#skills p{
  text-align: right;
}

#skills p span{
  margin: 0 30px;
}

#skills .soft p{
  text-align: left;
}

#skills span i{
  font-size: .6em;
  margin: 0
}

@media (max-width: 1100px) {

  #skills{
    flex-direction: column;
    align-items: center;
  }

  #skills div{
    width: 300px;
    margin: 20px auto;
  }

  #skills .soft p{
    text-align: center;
  }

}

/* PROJECTS */

#projects{
  text-align: center;
  padding: 50px;
  background: #f9f9f9;
}

.proj {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.proj div{
  width: 50%;
  margin: 20px 0 60px;
}

.proj img{
  width: 450px;
  height: 300px;
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 0 5px 7px black;
}

.proj img:hover{
  transform: scale(1.05);
  box-shadow: 0 3px 7px black;
}

#projects .proj p{
  margin: 25px;
}

#projects .proj a{
  color: rgb(0, 0, 0, 0.7);
  font-size: 1.1em;
  font-weight: 600;
}

#projects .proj a:hover{
  color: #d38525;
  font-size: 1.2em;
}

#projects .proj i{
  font-size: 1em;
  margin: 0 10px;
}

@media (max-width: 1100px) {

  .proj {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .proj div{
    width: 100%;
    margin: 20px 0;
  }

  .proj img{
    width: 500px;
    margin: 20px auto 0;
  }

}

@media (max-width: 700px) {
  .proj img{
    width: 350px;
    height: 250px;
  }
}

@media (max-width: 500px) {
  .proj img{
    width: 90%;
    height: 220px;
  }
}

/* TESTIMONIALS */

#testimonials{
  text-align: center;
  padding: 80px 0;
}

.padd{
  width: 82%;
  height: 80px;
  margin: 0 auto;
  background-color: #f9f9f9;
  position: relative;
  z-index: -1;
  top: 20px;
  border-radius: 15px;
}

#testimonials h1{
  margin-top: 0;
}

.testimonials{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonials hr{
  width: 50px;
  margin: 30px auto;
  border: 3px solid #d38525;
  border-radius: 50px;
}

.testimonials img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.testimonials div{
  margin: 20px 50px;
  padding: 2px 2px 0;
  width: 400px;
}

/* CONTACTS */

#contact{
  text-align: center;
  margin: 0px auto;
  padding: 80px 0 100px;
  background-image: url("svgs/contact.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgb(0, 0, 0, .1);
}

.contact{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

.nameemail{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

form .mail p{
  text-align: left;
}

form p{
  margin: 15px 0;
}

.form p{
  margin: 15px 0;
}

#contact p, #contact a{
  font-weight: 600;
  color: rgb(0, 0, 0, .7);
  text-shadow: 0 0px 20px #ddd;
}

form input{
  resize: none;
  width: 324px;
  height: 34px;
  outline: none;
  border: 2px solid rgb(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1em;
}

form .name{
  margin-right: 20px;
}

form input:focus {
  border: 2px #d38525 solid;
}

form textarea{
  overflow: hidden;
  resize: none;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0, 0.7);
  outline: none;
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 1.2em;
}

form textarea:focus{
  border: 2px #d38525 solid;
}

form button{
  padding: 10px;
  outline: none;
  border-radius: 10px;
  color: #d38525;
  border: 2px solid rgb(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: .9em;
}

form button:hover{
  border: 2px solid rgb(0, 0, 0, 0.7);
  transform: scale(1.1);
  cursor: pointer;
  outline: none;
  color: #d38525;
  background-color: rgb(0, 0, 0, 0.7);

}

.submit{
  text-align: center;
  margin: 40px auto 0;
}

.address {
  width: 300px;
}

.address h1{
  font-size: 1.7em;
  margin-top: 15px;
}

.address i{
  font-size: 1.1em;
  margin: 0 15px 0 0;
  color: #d38525;
}

.address p{
  text-align: left;
  padding-left: 10px;
}

#contact .address a:hover{
  color: #d38525;
  font-weight: bold;
  text-shadow: none;
}

.contactimg {
  display: none;
}

@media (max-width: 1100px) {

  #contact{
    padding: 50px;
    margin: 0;
    background: none;
    background-color: #faf9f0;
  }

  .contact{
    width: 95%;
    flex-direction: column;
    margin: 0 auto;
  }

  form{
    margin: 0 auto;
  }

  .address{
    margin: 20px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .address .addy{
    width: 400px;
  }

  form input{
    width: 350px;
  }

  .submit{
    text-align: center;
    margin: 40px auto;
  }

  .contactimg{
    width: 60%;
    display: inline;
  }

  .contactimg img{
    width: 450px;
    margin: 20px auto;
    float: right;
  }
}

@media (max-width: 990px) {

  .form{
    width: 90%;
    margin: 0 auto;
  }

  .nameemail{
    display: inline-block;
  }

  form input{
    width: 300px;
  }

}

@media (max-width: 900px) {

  .nameemail{
    display: inline-block;
  }

  form input{
    width: 300px;
  }

  .address{
    width: 90%;
    margin: 0 auto;
  }

  .contactimg{
    display: none;
  }

  #contact{
    text-align: center;
    padding: 50px 0;
    margin-bottom: 0;
    background-image: url("svgs/contact.png");
    background-repeat: repeat;
    background-position: center;
    background-color: rgb(0, 0, 0, 0.3);
    background-blend-mode: multiply;
  }

}

@media (max-width: 600px) {

  #contact{
    margin: 0;
  }

  form .name{
    width: 100%;
  }

  form input{
    width: 95%;
  }

  form textarea{
    width: 95%;
    height: 150px;
  }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 400px) {
/* Styles */

  #contact{
    text-align: center;
    padding: 50px 0;
    margin-bottom: 0;
    background-image: none;
  }
}

/* FOOTER */

footer{
  text-align: center;
  padding: 100px;
  font-family: sans-serif;
  font-size: .9em;
  color:  #ddd;
}

footer p{
  font-weight: 100;
  margin: 30px;
}

footer img{
  width: 10%;
  border-radius: 100px;
}

footer i{
  color: #ddd;
  margin: 10px 20px;
  font-size: 2rem;
}

footer i:hover{
  color: #d38525;
}

footer .fl-right{
  float: right;
  position: relative;
  bottom: 70px;
}

footer .fl-right i{
  font-size: 1.5em;
}

@media (max-width: 900px) {

  footer{
    padding: 50px 0;
  }

}

/* PRELOADER */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader-container{
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader{
  width: 30px;
  height: 30px;
  border: 3px solid;
  color: #3498db;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  25%{
    color: #2ecc71;
  }
  50%{
    color: #f1c407;
  }
  75%{
    color: #e74c3c;
  }
  to{
    transform: rotate(360deg);
  }
}
